@charset "UTF-8";
/*
|--------------------------------------------------------------------------
| The rose application )):
|--------------------------------------------------------------------------
|
| The first thing we will do is create rose application.
| CEO //
| Concept & Idea //
| Principal Architect //
| Creator   : ¦  Prabhat Kumar  ¦
|--------------------------------
| Copyright : ¦  Prabhat Kumar  ¦
|--------------------------------
| Company   : ¦  Infinity, Inc. ¦
|--------------------------------
| COO       : ¦  Zareen Khan    ¦
|
| Dated — 2nd August, 2023 
*/
@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}
/* ———— eof-— */
